<link rel="stylesheet" href="header.component.scss">
<header>
  <h2><span>rf</span>Rémi&nbsp;Faucon</h2>
  <nav>
    <menu>
      <li><a routerLink="/"
             routerLinkActive="underline"
             [routerLinkActiveOptions]="{exact: true}">home</a>
      </li>
      <li><a routerLink="/services"
             routerLinkActive="underline">services</a>
      </li>
      <li><a routerLink="/realisations"
             routerLinkActive="underline">réalisations</a>
      </li>
      <li><a routerLink="/a-propos"
             routerLinkActive="underline">à&nbsp;propos</a>
      </li>
    </menu>
  </nav>
  <a routerLink="/contact"
     routerLinkActive="activebutton">me&nbsp;contacter</a>
  <div class="burgerMenu">
    <div></div>
  </div>
</header>
