<link rel="stylesheet" href="header.component.scss">
<header>
  <h2><span>rf</span>Rémi&nbsp;Faucon</h2>
  <nav>
    <menu>
      <li><a routerLink="/"
             routerLinkActive="underline"
             [routerLinkActiveOptions]="{exact: true}">home</a>
      </li>
      <li><a routerLink="/services"
             routerLinkActive="underline">services</a>
      </li>
      <li><a routerLink="/realisations"
             routerLinkActive="underline">réalisations</a>
      </li>
      <li><a routerLink="/a-propos"
             routerLinkActive="underline">à&nbsp;propos</a>
      </li>
    </menu>
  </nav>
  <a routerLink="/contact">me&nbsp;contacter</a>
  <button mat-icon-button
           color="primary"
          [matMenuTriggerFor]="menu"
          aria-label="Menu"
          id="iconMenu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item
            routerLink="/">
      <mat-icon>home</mat-icon>
      <span>Acceuil</span>
    </button>
    <button mat-menu-item
            routerLink="/services">
      <mat-icon>room_service</mat-icon>
      <span>Services</span>
    </button>
    <button mat-menu-item
            routerLink="/realisations">
      <mat-icon>code</mat-icon>
      <span>Réalisations</span>
    </button>
    <button mat-menu-item
            routerLink="/a-propos">
      <mat-icon>account_box</mat-icon>
      <span>A propos</span>
    </button>
    <button mat-menu-item
            routerLink="/contact">
      <mat-icon>mail_outline</mat-icon>
      <span>Contact</span>
    </button>
  </mat-menu>
</header>
