header{
  font-family: 'Montserrat', sans-serif !important;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
  h2{
    font-weight: normal;
    line-height: 76px;
    font-size: 2rem;
    text-transform: uppercase;
    color: #300A24;
    margin: 0;
    span{
      margin: 0 2rem;
      font-weight: bold;
    }
  }
  nav{
    menu{
      list-style: none;
      display: flex;
      justify-content: space-between;
      padding: 0;
      margin: 0;
      li {
        a {
          color: #8154A8;
          text-decoration: none;
          padding: 1.7rem;
          display: block;
        }
        .underline {
          &:after {
            display: block;
            content: '';
            width: 33%;
            height: 2px;
            background-color: #8154A8;
            border-radius: 1px;
          }
        }
      }
    }
  }
  > a{
    color: #8154A8;
    padding: .8rem 2.2rem;
    margin: .7rem;
    border: 2px solid #8154A8;
    border-radius: .6rem;
    text-decoration: none;
    height: fit-content;
  }
  #iconMenu{
    display: none;
  }
}
@media (max-width: 1180px) {
  header {
    position: relative;
    nav{
      display: none;
    }
    > a {
      display: none;
    }
    #iconMenu {
      display: block;
      position: absolute;
      right: 4rem;
      top: 50%;
      transform: translateY(-50%) scale(2);
    }
  }
}
