# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
/src/app/app.component.css
/src/app/app.component.css.map
/src/app/contact/contact.component.css
/src/app/contact/contact.component.css.map
/src/app/header/header.component.css
/src/app/header/header.component.css.map
/src/app/propos/propos.component.css
/src/app/propos/propos.component.css.map
/src/app/realisations/realisations.component.css
/src/app/realisations/realisations.component.css.map
/src/app/services/services.component.css
/src/app/services/services.component.css.map
/src/styles.css
/src/styles.css.map
