a {
  position: relative;
  color: #000000;
  text-decoration: none;
  height: 10rem;
  width: 8rem;
  display: block;
  img {
    height: 10rem;
    width: 8rem;
  }
  .details {
    display: none;
  }
  &:hover {
    .details {
      position: absolute;
      display: block;
      height: 10rem;
      width: 8rem;
      top: 0;
      background-color: rgba(255, 255, 255, 0.5);
      h3{
        font-weight: bold;
        margin: 0;
      }
      p:last-of-type {
        position: absolute;
        bottom: 0;
      }
    }
  }
}
