<link rel="stylesheet" href="terminal.component.scss">
<div class="terminalWindow">
  <div class="terminalHeader">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="terminal">
    <p><span class="green">user@machine:</span><span class="blue">~</span>$ <span id="toShow"></span></p>
    <h1 class="hidden">Rémi Faucon,<strong>Developpeur back-end</strong></h1>
    <p class="hidden">Passionné par l’univers du développement depuis mes jeunes âges, j’ai débuté par les langages fondamentaux du web. </p>
    <p class="hidden">J’ai ensuite approfondi mes connaissances en back-end notamenent en PHP, puis j’ai suivi une formation diplomante d’un titre développeur web et web mobile (bac+2).</p>
    <a class="hidden"><span class="green">?</span> Découvrir mes réalisations? <span class="grey">(Y/n)</span><span id="input"></span><span> _</span></a>
  </div>
</div>
