.terminalWindow {
  margin: 0 auto;
  max-height: 27.4rem;
  max-width: 33rem;
  height: 30vw;
  width: 40vw;
  min-height: 15rem;
  min-width: 28rem; }
  .terminalWindow .hidden {
    display: none; }
  .terminalWindow .terminalHeader {
    display: flex;
    justify-content: end;
    width: 100%;
    height: fit-content;
    background-color: #333D54;
    border-radius: .4rem .4rem 0 0; }
    .terminalWindow .terminalHeader div {
      height: 1rem;
      width: 1rem;
      margin: .2rem;
      border-radius: .5rem; }
      .terminalWindow .terminalHeader div:first-of-type {
        background-color: #FFC463; }
      .terminalWindow .terminalHeader div:nth-of-type(2) {
        background-color: #33AB54; }
      .terminalWindow .terminalHeader div:last-of-type {
        background-color: #E30045;
        position: relative; }
        .terminalWindow .terminalHeader div:last-of-type:hover:before {
          content: "";
          position: absolute;
          background-color: #48494D;
          width: 12px;
          height: 3px;
          border-radius: 2px;
          left: 50%;
          top: 50%;
          transform: rotateZ(45deg) translate(-40%, 100%); }
        .terminalWindow .terminalHeader div:last-of-type:hover:after {
          content: "";
          position: absolute;
          background-color: #48494D;
          width: 12px;
          height: 3px;
          border-radius: 2px;
          left: 50%;
          top: 50%;
          transform: rotateZ(-45deg) translate(-25%, -150%); }
  .terminalWindow .terminal {
    background-color: #300A24;
    color: #E4E8E0;
    max-height: 24rem;
    height: calc(30vw - 2rem);
    min-height: 18rem;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    border-radius: 0 0 .4rem .4rem; }
    .terminalWindow .terminal .green {
      color: #87E033; }
    .terminalWindow .terminal .blue {
      color: #345D94; }
    .terminalWindow .terminal .grey {
      color: #8A7982;
      font-weight: normal; }
    .terminalWindow .terminal p {
      font-size: 20px;
      margin: 0 0 .5rem 0; }
      .terminalWindow .terminal p .input:not(.hiddenInput) {
        position: relative; }
        .terminalWindow .terminal p .input:not(.hiddenInput):after {
          content: "";
          position: absolute;
          top: 0;
          right: -0.8em;
          height: 1.3em;
          width: .5em;
          background-color: #E4E8E0; }
    .terminalWindow .terminal .commandsList {
      display: flex; }
      .terminalWindow .terminal .commandsList .commands {
        margin-left: 2rem; }
      .terminalWindow .terminal .commandsList .commandsDescription {
        margin-left: 2rem;
        color: #95868E; }

@media (max-width: 580px) {
  .terminalWindow {
    min-width: 0;
    width: 60vw;
    min-height: 13rem;
    height: 25vw; }
    .terminalWindow .terminal {
      min-height: 10rem; }
      .terminalWindow .terminal p {
        font-size: 2vw;
        line-height: 1.4vw; }
      .terminalWindow .terminal .commandsList .commands, .terminalWindow .terminal .commandsList .commandsDescription {
        margin-left: 1rem; } }

/*# sourceMappingURL=terminal.component.css.map */
