/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Montserrat";
  font-weight: bold;
  src: local("Montserrat"), url("./assets/font/Montserrat-ExtraBold.ttf") format("ttf");
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("./assets/font/Montserrat-Bold.ttf") format("ttf");
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  app-root{
    max-width: 1440px;
    margin: 0 auto;
    height: 90vh;
    display: flex;
    flex-direction: column;
  }
}
