<app-header></app-header>
<div class="page">
  <div class="textContent">
    <h1><span>Rémi Faucon,</span>Developpeur back-end</h1>
    <p>Passionné par l’univers du développement web depuis mon adolescence, j’ai commecé par apprendre les fondamentaux (HTML & CSS) entre 2012 et 2014. </p>
    <p>Toujours plus curieux, j’ai suivi une formation diplomante d’un titre développeur web et web mobile (bac+2) entre 2019 et 2022.</p>
    <p>depuis je me forme en autodidacte et ce qui me plaît par particulierement c’est à dire node js...</p>
  </div>
  <app-terminal></app-terminal>
</div>
<app-footer></app-footer>
