.page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  max-width: 75rem;
  width: 75vw;
  .textContent {
    width: 30rem;
    margin-right: 5rem;
    color: #300A24;
    h1 {
      font-size: 60px;
      font-weight: bold;
      line-height: 4rem;
      letter-spacing: 3px;
      span {
        font-size: 42px;
        display: block;
      }
    }
    p {
      font-size: 20px;
      letter-spacing: 1px;
    }
  }
}
@media (max-width: 1150px){
  .page{
    flex-direction: column;
    left: 50%;
    top: 6rem;
    transform: translateX(-50%);
    .textContent{
      width: 75vw;
      margin: 0;
      h1{
        font-size: 5vw;
        line-height: 4vw;
        span{
          font-size: 4vw;
        }
      }
    }
  }
}
